nav{
    display: flex;
    justify-content: space-between;

}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-size: 1.5em;
}
.con{
    display: flex;
}
.box{
    height: 100px;
    width: 200px;
    border: 1px dashed blue;
}
.form-sec{
    display: flex;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form input, button{
    font-size: 1.3em;
    margin-top: 15px;
    border: 1px solid salmon;
    padding-left: 10px;
    border-radius: 5px;
}
.login-form button{
    background-color: sandybrown;
    color: rgb(12, 65, 34);
    padding: 6px;
    font-weight: 500;
}
.grid-cotainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-gap: 20px 10px;
}
.grid-cell{
    border: 3px solid hotpink;
}
.calender{
    display: grid;
    height: 600px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2em repeat(5, 1fr);
    grid-gap: 1em;
}
.date, .day{
    background-color: grey;
    display: flex;
    font-size:3em;
    justify-content:center ;
    align-items: center;
}
.other-month{
    background-color:blanchedalmond;
}
.menu-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.food{
    border: 3px solid deepskyblue;
    text-align: justify;
}
.food img{
    width: 75%;
}
@media (max-width: 700px) {
    .food{
        background-color: gold;
    }
    .menu-container {
        flex-direction: column;
    }
}
@media (min-width: 900px) {
    .food{
        background-color: hotpink;
    }
}
.photo-frame{
    height: 202px;
    width: 300px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.photo img{
    width: 100%;
    
}
.photo-details{
    position: absolute;

    width: 300px;
    top: 0;
    display: none;
}
.photo-frame:hover .photo-details{
    display: block;
    background-color: rgba(228, 225, 54, 0.473);
}
.photo-frame:hover .photo{
    transform: scale(1.2) skew(15deg);
    transition: transform 1s ease-in;
}
div h3{
    text-align: center;
}
.photo-album{
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
}